<form action="/info" method="POST" style="width: 200px;">
  <div class="form-group">
    <label for="exampleFormControlInput1">Username</label>
    <input type="text" name="UserName" class="form-control" id="itemNameInput" placeholder="">
  </div>
  {{!-- <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div> --}}
  <div class="form-group" >
    <label for="FormControlSelect2">interests</label>
    <select multiple class="form-control" id="FormControlSelect2" name="interests">
       <option>Cars</option>
      <option>Books</option>
      <option>Girls</option>
      <option>IT</option>
      <option>else</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">password</label>
    <input type="text" name="password" class="form-control" id="password" placeholder="">
  </div>
   <div class="form-group">
    <label for="FormControlInput1">email</label>
    <input type="text" name="email" class="form-control" id="email" placeholder="">
  </div>
  
    <input type="submit" value="Add" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
  </div>
</form>
<form action="/coordinat" method="POST" style="width: 200px;">
  <div class="form-group">
    <label for="exampleFormControlInput1">lat</label>
    <input type="text" name="lat" class="form-control" id="lat" placeholder="">
    
  <div class="form-group">
    <label for="exampleFormControlInput1">lng</label>
    <input type="text" name="lng" class="form-control" id="ing" placeholder="">
  </div>
   
  
    <input type="submit" value="Add" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
  </div>
</form>
 {{!-- <form method="POST" action="/coordinat" class="inline">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="delete" class="no-border no-outline no-bg c-white hover-underline">
    
    </form> --}}

    <div id="divAria"></div>
    <form action=""id="form">
      <input type="text" name="mymess" class="input" value='1' style="display: none;">
    <input type="submit" value="Send">
    </form>
    <form action=""id="formClose">
      <input type="text" name="mymessClose" class="input" value="exit" style="display: none;">
    <input type="submit" value="Close">
    </form>
